@model HomeModel
@{
    ViewData["Title"] = "Oportunidades? Achou";
}

<div class="text-center">
    <h1 class="display-4">Olá, @Model.NomeUser</h1>
    <h1 class="display-4">Principais Vagas</h1>
</div>
