@model HomeModel

@{
    ViewData["Title"] = "Oportunidades? Achou";
}

<div class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="caption header-text">
            <h6>BUSCAMPREGOS</h6>
            <div class="line-dec"></div>
            <h4>Mergulhe no seu novo <em>emprego</em> dos <span>sonhos</span></h4>
            <span>As melhores vagas no melhor serviço de empregos: <br /> Nossa equipe extremamente empenhada trata de disponibilizar diariamente as melhores oportunidades do mercado. Com foco total em T.I., estamos sempre compartilhando vagas dos mais variados tipos e níveis, para que você possa afundar em um mar de boas opções.</span>
            <p></p>
            <div class="main-button scroll-to-section"><a href="/vaga">Descobrir vagas</a></div>
            <div class="second-button"><a href="/Usuario">Criar conta</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="services section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-heading">
                <h2>Veja tudo que a gente pode fazer por
                  <span>você</span>
                </h2>
                <div class="line-dec"></div>
                <p>Ofertamos os seguintes serviços.</p>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="service-item">
                <div class="icon">
                  <img src="https://i.imgur.com/eZuEfFc.jpg" alt="discover SEO" class="templatemo-feature">
                </div>
                <h4>Veja as melhores vagas do mercado</h4>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="service-item">
                <div class="icon">
                  <img src="https://i.imgur.com/FTh7C0Z.png" alt="data analysis" class="templatemo-feature">
                </div>
                <h4>Preencha e crie um currículo</h4>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="service-item">
                <div class="icon">
                  <img src="https://i.imgur.com/yMMVSPR.png" alt="precise data" class="templatemo-feature">
                </div>
                <h4>Acompanhe processos seletivos</h4>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="service-item">
                <div class="icon">
                  <img src="https://i.imgur.com/FS0jWE8.png" alt="SEO marketing" class="templatemo-feature">
                </div>
                <h4>Salva vagas que você gostou</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="projects section" id="projects">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h2>Está esperando o que? <em>Crie</em> uma conta <span>agora</span> e veja nossas vagas</h2>
            <div class="line-dec"></div>
            <div class="second-button"><a href="/Usuario">Criar conta</a></div>
            <p>Não é necessário a criação de contas para visualização das vagas, apenas para criar currículos (cadastro de usuário), salvar vagas e afins.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

<br />