@model HomeModel
@{
    ViewData["Title"] = "Oportunidades? Achou";
}

<div class="text-center">
    <h1 class="display-4">Olá, @Model.NomeUser</h1>
    <h1 class="display-4">Principais Vagas</h1>
</div>


<button type="button" class="btn btn-primary">Front-End</button>
<button type="button" class="btn btn-secondary">Back-End</button>
<button type="button" class="btn btn-success">Data science</button>
<button type="button" class="btn btn-danger">Infraestrutura</button>
<button type="button" class="btn btn-info">Banco de Dados</button>
<button type="button" class="btn btn-warning">Todos</button>