
@{
    ViewData["Title"] = "mais uma oportunidade :)";
}

<div class="text-center">
    <h1 class="display-4">Vaga Cadastrada com Sucesso</h1>
    <h3>Obrigado por compartilhar sua vaga conosco :)</h3>

    <a href="/" class="btn btn-info" role="button">Retornar para tela inicial</a>
</div>
